@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

input {
  color: #1f2937;
}